extends layout

block content
  script(src='/js_external/jquery-1.10.2.min.js')
  script(src='/js_external/bootstrap.min.js')
  script(src='/js_external/underscore.min.js')
  script(src='/js_custom/hipchat.js')

  .container
    h3 Hipchat Emoticons
    #hipchat_emoticons
    h3 Work Market Emoticons
    #custom_emoticons

  script#emoticon_template(type='text/template')
    |<div class='col-md-2'>
    |  <img class="clickable" 
    |    data-shortcut="(<%= emoticon.shortcut %>)" src="<%= emoticon.url %>">
    |  <br>
    |  (<%= emoticon.shortcut %>)
    |</div>

  script#emoticon_row_template(type='text/template')
    |<%
    |  _.each(rows, function(row) {
    |%>
    |    <div class='row'><%= row %></div>
    |<%
    |  });
    |%>
