doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    style.
      .col-md-2 {
        padding: 5px;
      }

      .clickable {
        cursor: pointer;
      }
  body
    block content
